<script type="text/javascript">
    var _gaq = _gaq || [];
    _gaq.push(['_setAccount', 'UA-35762965-1']);
    _gaq.push(['_trackPageview']);

    (function () {
        var ga = document.createElement('script');
        ga.type = 'text/javascript';
        ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0];
        s.parentNode.insertBefore(ga, s);
    })();
</script>

<div class="page-header">
	<div class="wlt-grid-container container">
		<section>
			<div class="main-container">
				<div id="main" class="main container clearfix">

					<!--<script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>-->
					<script type="text/javascript" src="assets/js/bower_components/jquery-royal-slider/jquery.royalslider.min.js"></script>
					<script type="text/javascript" src="http://spottherisk.com/assets/js/home.js"></script>
					<div id="royalslider-wrapper" class="clearfix">

						<div class="royalSlider rsDefault" id="royalslider-1">

							<div class="rsContent blue clearfix">

								<div class="left-wrapper" >

									<div class="rsABlock" data-move-effect="left" data-fade-effect="true" data-speed="400" data-delay="500" data-move-offset="15">
										<p class="underdashed rsABlock-subtitle"></p>
									</div>

									<div class="rsABlock" data-move-effect="left" data-fade-effect="true" data-speed="400" data-delay="500" data-move-offset="15">
										<p class="underdashed rsABlock-title"><span style="color:#333333;">Test your</span><br />knowledge</p>
									</div>

									<div class="rsABlock" data-move-effect="left" data-fade-effect="true" data-speed="400" data-delay="1000" data-move-offset="15">
										<p class="underdashed rsABlock-subtitle">We think we all know the basics of travel safety. But what about the risks you don't think  about? The little events that can quickly turn into a big problem.</p>
									</div>

									<div class="rsABlock" data-move-effect="left" data-fade-effect="true"  data-speed="400" data-delay="1400" data-move-offset="15">
										<!--<a class="btn-42-anim btn-white-small color-pink" href="/quiz" title="Play Spot the Risk to find out!" onClick="javascript: _gaq.push(['_trackPageview', '/quiz-landing']);">Play Spot the Risk to find out</a>-->
										<a class="btn-42-anim btn-white-small color-pink" href="" ng-click="goToQuiz()" title="Play Spot the Risk to find out!" onClick="javascript: _gaq.push(['_trackPageview', '/quiz-landing']);">Play Spot the Risk to find out</a>
									</div>

								</div>

								<div class="right-wrapper" >
									<div class="rsABlock" data-move-effect="right" data-fade-effect="true" data-speed="400" data-delay="1800" data-move-offset="20">
										<p class="animation"><img alt="Spot the Risk!" style="max-width:100%; padding-top: 40px;" src="http://spottherisk.com/assets/img/home_slides/1.png"></p>
									</div>
								</div>

							</div>

							<div class="rsContent blue clearfix">

								<div class="left-wrapper" >

									<div class="rsABlock" data-move-effect="left" data-fade-effect="true" data-speed="400" data-delay="500" data-move-offset="15">
										<p class="underdashed rsABlock-subtitle">Do you know...</p>
									</div>

									<div class="rsABlock" data-move-effect="left" data-fade-effect="true" data-speed="400" data-delay="500" data-move-offset="15">
										<p class="underdashed rsABlock-title"><span style="color:#333333;">Enter your score</span><br />to enter our<br />prize draw</p>
									</div>

									<div class="rsABlock" data-move-effect="left" data-fade-effect="true" data-speed="400" data-delay="1000" data-move-offset="15">
										<p class="underdashed rsABlock-subtitle">When you're happy with your score, submit it for a chance to win a 200 USD Amazon or Target gift card.</p>
									</div>

									<div class="rsABlock" data-move-effect="left" data-fade-effect="true"  data-speed="400" data-delay="1400" data-move-offset="15">
										<a class="btn-42-anim btn-white-small color-pink" href="" ng-click="goToQuiz()" title="Play Spot the Risk" onClick="javascript: _gaq.push(['_trackPageview', '/quiz-landing']);">Play Spot the Risk</a>
									</div>

									<!-- <div class="rsABlock" data-move-effect="left" data-fade-effect="true" data-speed="400" data-delay="1400" data-move-offset="15">
                                        <p class="rsABlock-body">And learn some valuable travel advice along the way</p>
                                    </div> -->

								</div>

								<div class="right-wrapper" >
									<div class="rsABlock" data-move-effect="right" data-fade-effect="true" data-speed="400" data-delay="1800" data-move-offset="20">
										<p class="animation"><img alt="Spot the Risk!" style="max-width:100%; padding-top: 40px;" src="http://spottherisk.com/assets/img/home_slides/2.png"></p>
									</div>
								</div>

							</div>

							<div class="rsContent pink clearfix">

								<div class="left-wrapper" >

									<div class="rsABlock" data-move-effect="left" data-fade-effect="true" data-speed="400" data-delay="500" data-move-offset="15">
										<p class="underdashed rsABlock-subtitle">Do you know...</p>
									</div>

									<div class="rsABlock" data-move-effect="left" data-fade-effect="true" data-speed="400" data-delay="500" data-move-offset="15">
										<p class="underdashed rsABlock-title"><span style="color:#333333;">The</span><br />Assistance App</p>
									</div>

									<div class="rsABlock" data-move-effect="left" data-fade-effect="true" data-speed="400" data-delay="1000" data-move-offset="15">
										<p class="rsABlock-body">When you are on the move the App is an essential tool to help make the most of your International SOS membership.</p>
										<p class="underdashed rsABlock-body">By providing unprecedented access to International SOS logistics, medical and security advice and capabilities you can get essential travel help when you need it.</p>
									</div>

									<div class="rsABlock" data-move-effect="left" data-fade-effect="true"  data-speed="400" data-delay="1400" data-move-offset="15">
										<a class="btn-42-anim btn-white-small color-pink" href="" ng-click="goToApp()" title="Download the Assistance App">Download the Assistance App</a>
									</div>

								</div>

								<div class="right-wrapper" >
									<div class="rsABlock" data-move-effect="right" data-fade-effect="true" data-speed="400" data-delay="1800" data-move-offset="20">
										<p class="animation"><img alt="Spot the Risk!" style="max-width:100%; padding-top: 10px;" src="http://spottherisk.com/assets/img/home_slides/3.png"></p>
									</div>
								</div>

							</div>

							<div class="rsContent blue clearfix slide-long">

								<div class="left-wrapper" >

									<div class="rsABlock" data-move-effect="top" data-fade-effect="true" data-speed="400" data-delay="500" data-move-offset="15">
										<p class="underdashed rsABlock-subtitle">About International SOS </p>
									</div>

									<div class="rsABlock" data-move-effect="left" data-fade-effect="true" data-speed="400" data-delay="1000" data-move-offset="15">
										<p class="underdashed rsABlock-title">International SOS membership provides medical, security and travel advice and of course emergency help, 24/7, worldwide.</p>
									</div>

									<div class="rsABlock" data-move-effect="left" data-fade-effect="true" data-speed="400" data-delay="1400" data-move-offset="15">
										<p class="rsABlock-body">After any event, either large or small, our members can rapidly access International SOS doctors, security professionals, logistics personnel and over 76,000 hospitals, clinics and hospitals worldwide.</p>
									</div>

								</div>

								<div class="right-wrapper" >
									<div class="rsABlock" data-move-effect="right" data-fade-effect="true" data-speed="400" data-delay="1800" data-move-offset="20">
										<p class="animation"><img alt="Spot the Risk!" style="max-width:inherit;" src="http://spottherisk.com/assets/img/home_slides/4.png"></p>
									</div>
								</div>

							</div>

							<div class="rsContent blue clearfix">

								<div class="left-wrapper" >

									<div class="rsABlock" data-move-effect="left" data-fade-effect="true" data-speed="400" data-delay="500" data-move-offset="15">
										<p class="underdashed rsABlock-subtitle"></p>
									</div>

									<div class="rsABlock" data-move-effect="left" data-fade-effect="true" data-speed="400" data-delay="500" data-move-offset="15">
										<p class="underdashed rsABlock-title"><span style="color:#333333;">Congratulations</span><br />to the lucky winners</p>
									</div>

									<div class="rsABlock" data-move-effect="left" data-fade-effect="true" data-speed="400" data-delay="1000" data-move-offset="15">
										<p class="underdashed rsABlock-subtitle">All 'Spot the risk' top players who submitted their scores were entered in a random prize draw.</p>
									</div>

									<div class="rsABlock" data-move-effect="left" data-fade-effect="true"  data-speed="400" data-delay="1400" data-move-offset="15">
										<a class="btn-42-anim btn-white-small color-pink" href="" ng-click="goToWinners()" title="Find out if you are one of them" onClick="javascript: _gaq.push(['_trackPageview', '/winners']);">Find out if you are one of them</a>
									</div>

								</div>

								<div class="right-wrapper" >
									<div class="rsABlock" data-move-effect="right" data-fade-effect="true" data-speed="400" data-delay="1800" data-move-offset="20">
										<p class="animation"><img alt="Spot the Risk!" style="max-width:100%; padding-top: 40px;" src="http://spottherisk.com/assets/img/home_slides/5.png"></p>
									</div>
								</div>

							</div>

						</div>

					</div>

					<div id="instructions-wrapper" class="clearfix">

						<div id="instructions" class="sixteen columns clearfix">

							<div class="one-third column instruction alpha">

								<div class="instruction-inner">
									<h4>Take the quiz</h4>
									<p>Take the quiz and enter your score to be entered into our prize draw for a chance to win a gift card from Amazon or Target worth 200 USD.</p>
								</div>

							</div>

							<div class="one-third column instruction">
								<div class="instruction-inner">
									<h4>Enter your score</h4>
									<p>When you're happy with your score, submit it for a chance to win.</p>
								</div>
							</div>

							<div class="one-third column instruction omega">
								<div class="instruction-inner">
									<h4>Win a prize!</h4>
									<p>We are offering gift cards from Amazon or Target for our best Riskspotters. So what are you waiting for? Get spotting!<br />(official rules apply*)</p>
								</div>
							</div>

						</div>

					</div>

					<div id="features-wrapper" class="clearfix">

						<div id="features" class="sixteen columns clearfix">

							<div class="one-third column feature alpha">
								<div class="feature-inner">
									<img alt="featured1" src="http://spottherisk.com/assets/img/featured1.jpg">
									<h4>Win a gift card</h4>
									<p>Take the quiz and enter your score for a chance to win our prize draw for a gift card from Amazon or Target worth 200 USD.</p>
									<span class="btn-10-anim btn-orange-small" ng-click="goToQuiz()" title="Find out more" onClick="javascript: _gaq.push(['_trackPageview', '/find-out-more']);">Find out more</span>
								</div>
							</div>

							<div class="one-third column feature">
								<div class="feature-inner">
									<img alt="featured2" src="http://spottherisk.com/assets/img/featured2.jpg">
									<h4>Your travel companion</h4>
									<p>International SOS membership provides medical, security and travel advice and of course emergency help, 24/7, worldwide.</p>
									<span class="btn-10-anim btn-orange-small" ng-click="goToAboutUs()" title="Find out more">Find out more</span>
								</div>
							</div>

							<div class="one-third column feature omega">
								<div class="feature-inner">
									<img alt="featured3" src="http://spottherisk.com/assets/img/featured3.jpg">
									<h4>Get the Assistance App</h4>
									<p>An essential tool for any employee on the move so they can make the most of their International SOS membership. Download for one-touch routine or emergency assistance worldwide.</p>
									<a class="btn-10-anim btn-orange-small" href="http://app.internationalsos.com" title="Download the App">Download the App</a>
								</div>
							</div>

						</div>

					</div>				</div>
			</div>
		</section>
	</div>

</div>