<div class="page-header">

	<div class="wlt-grid-container winner leaderboard container">
		<div class="main-container">
			<div id="main" class="main container clearfix">

				<div id="left-wrapper" class="eight columns">

					<p class="underdashed rsABlock-subtitle">Spot the Risk</p>

					<p class="underdashed rsABlock-title"><span style="color:#333333;">WINNERS</span></p>

					<div id="winners-wrapper">
		<div class="underdashed" id="winners">
			
			<div class="player-score clearfix">
				<p class="user-num">01</p>
				<p class="user-name"><span>Jane Bollmeyer</span></p>
			</div>
			
			<div class="player-score clearfix">
				<p class="user-num">02</p>
				<p class="user-name"><span>Christine Zoller</span></p>
			</div>
			
			<div class="player-score clearfix">
				<p class="user-num">03</p>
				<p class="user-name"><span>Mark Frary</span></p>
			</div>
			
			<div class="player-score clearfix">
				<p class="user-num">04</p>
				<p class="user-name"><span>Margaret  Dyke</span></p>
			</div>
			
			<div class="player-score clearfix">
				<p class="user-num">05</p>
				<p class="user-name"><span>Bryan Skellern</span></p>
			</div>
			
			<div class="player-score clearfix">
				<p class="user-num">06</p>
				<p class="user-name"><span>Scott Clamm</span></p>
			</div>
			
			<div class="player-score clearfix">
				<p class="user-num">07</p>
				<p class="user-name"><span>Dawn John</span></p>
			</div>
			
			<div class="player-score clearfix">
				<p class="user-num">08</p>
				<p class="user-name"><span>Clare Siddall</span></p>
			</div>
			
			<div class="player-score clearfix">
				<p class="user-num">09</p>
				<p class="user-name"><span>David Fosket</span></p>
			</div>
			
			<div class="player-score clearfix">
				<p class="user-num">10</p>
				<p class="user-name"><span>Enrico Pasquariello</span></p>
			</div>
			
			<div class="player-score clearfix">
				<p class="user-num">11</p>
				<p class="user-name"><span>Marvin Antle</span></p>
			</div>
			
			<div class="player-score clearfix">
				<p class="user-num">12</p>
				<p class="user-name"><span>Greg Cullen</span></p>
			</div>
			
			<div class="player-score clearfix">
				<p class="user-num">13</p>
				<p class="user-name"><span>Zerlina Cheng</span></p>
			</div>
			
		</div>
	</div>
				</div>

				<div id="right-wrapper" class="eight columns">
					<p class="animation"><img alt="Spot the Risk!" style="max-width:100%; padding-top: 42px;" src="assets/img/leaderboard.jpg" /></p>
				</div>

			</div>
		</div>
	</div>

</div>